<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cities Weather</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-circular-gauge.min.js"></script>
  
    <link rel="stylesheet" href="{{ url_for('static',filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">

    <style>
        body {
            background-image: url("{{ url_for('static',filename='images/background.jpg') }}");
        }
    </style>

</head>

<body>

    <nav class="navbar navbar-expand-md">

        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container-fluid collapse navbar-collapse" id="collapse_target">
            <div class="navbar-header">
                <a class= "navbar-header" id="Landing_Page" href="/">Home</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar_item"><a href="/forecast">Cities Forecast</a></li>
                <li class="navbar_item"><a href="/uv">Current UV Index</a></li>
                <li class="navbar_item"><a href="/current">Current Weather</a></li>
            </ul>
        </div>
    </nav>
    
    <br>
    <br>
    <div class = 'container' style="background-color:white;height:1200px;opacity:0.8;width:100%;align-self: center;padding:10px;margin-top: 30px;padding: 30px;opacity:0.7">
            <div style="margin-left: 10px">
                <h2>About the Project</h2>
                <p>In this project, we choose to grab json format, weather data of random various cities/locations from OpenWeather using API, to create weather data from multiple facets across the globe. </p>
                <br>
                <p>The visualization includes: </p>
                <ul>
                    <li>A Python Flask–powered RESTful API, HTML/CSS, JavaScript, and a database (MongoDB);</li>
                    <li>A dashboard page with multiple charts that update from the same data;</li>
                    <li>Gaugechart with AnyChart JS Library <a id="link" style="margin-left:0px;" href=https://www.anychart.com target="_blank">(https://www.anychart.com)</a></li>
                </ul>
                <hr>
                <br>
                <h2>Data Sources</h2>
                <a id="link" href="https://openweathermap.org/api">https://openweathermap.org/api</a>
                <hr>
                <br>
                <h2>Contents</h2>
                <p>The data contains the real-time weather information in the following three aspects.</p>
                <br>
                <h3>Current UV Index</h3>
                <ul>
                    <li>Accessed current UV data for over 500 cities using API.</li>
                    <li>Created a graduated circle map using Leaflet circle vector layers.</li>
                    <li>Filtered the data into three groups based on the UV value and created a layer control in the top-right corner which can toggle the marker on and off.</li>
                    <li>Created a marker for each city with a pop-up that displayed the city name and UV value.</li>
                </ul>
                <br>
                <h3>Current Weather</h3>
                <ul>
                    <li>Created a dashboard page with multiple charts that update from the same data.</li>
                    <li>Included some level of user-driven interaction, such as dropdowns.</li>
                    <li>Used library “Anychart” to plot 3 gauge charts.</li>
                    <li>Created a dropdown for users to select the city they are interested.</li>
                    <li>Based on the city selected, 3 gauge charts show the temperature, wind and humidity data respectively.</li>
                </ul>
                <br>
                <h3>Cities Forecast</h3>
                <ul>
                    <li>111</li>
                    <li>222</li>
                    <li>333</li>
                    <li>444</li>
                </ul>
                <hr>
                <br>
            </div>
        </div>


    <!-- JavaScript --> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="static/js/config.js"></script>
    <script src="static/js/logic.js"></script>

</body>


</html>